{% assign courses = include.courses %}
{% if courses and courses.size > 0 %}
  {% assign role_label = include.role | default: courses.first.role | default: "Teaching" %}
  <div class="teaching-list">
    <p class="teaching-list__label">{{ role_label }}:</p>
    <ul class="teaching-list__items">
      {% for course in courses %}
        <li class="teaching-list__item">
          {% if course.code and course.title %}
            {{ course.code }}: {{ course.title }}
          {% elsif course.title %}
            {{ course.title }}
          {% elsif course.code %}
            {{ course.code }}
          {% endif %}
          {% if course.term %}, {{ course.term }}{% endif %}
          {% if course.institution %} @ {{ course.institution }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
